{% extends 'homework/base.html' %}
{% load static %}
{% block content %}
<style>
    .centered-div {
           width: 60%;
           max-width: 900px;
           margin-left: auto;
           margin-right: auto;
           padding: 20px;
           background-color: #ffffff;
           border: 1px solid #ccc;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }

    .sender {
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            text-align: right;
            width: auto;
    }

    .receiver {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        text-align: left;
    }

    .customer-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

    .customer-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    overflow: hidden;
    border-radius: 50%; /* Create a circular shape */
    margin-right: 10px; /* Adjust the margin as needed */
}
</style>
<center><h4>Lets chat!</h4></center>
<div class="centered-div">
    <div class="customer-image">
        {% if MEDIA_URL %}
        <img src="/{{ MEDIA_URL }}/{{ receiver.profile_picture }}" alt="profile_picture">
        {% else %}
        <img src="/media/{{ receiver.profile_picture }}" alt="profile_picture">
        {% endif %}
    </div>
    <h4>{{receiver.first_name}}</h4>
    {% for message in messages %}
    {% if message.sender.id == request.user.id %}
    <div class="sender">
        <strong>{{ message.sender.first_name }}</strong>
        <p>{{message.text}}</p>
    </div>
    {% else %}
    <div class="receiver">
        <strong>{{ message.sender.first_name }}</strong>
        <p>{{message.text}}</p>
    </div>
    {% endif %}
    {% endfor %}
    <div id="messages"></div>
    <form id="form">
        <input name="message" style="width: 100%;" placeholder="Type your message">
    </form>
</div>
<br>

<script>
    const messages = document.getElementById('messages');
    const url = `ws://${window.location.host}/ws/socket-server/`;
    const receiver_id = {{receiver.id}};
    const chatSocket = new WebSocket(url);
    const form = document.getElementById('form');
    const messageInput = form.querySelector('input[name="message"]');

    messageInput.addEventListener('keydown', (e) => {
    console.log("dklfslkfjjskljsadk;l", {{receiver.id}});
    console.log("dklfslkfjjskljsadk;l", {{request.user.id}});
    if (e.key === 'Enter') {
        e.preventDefault();
        sendMessage();
    }
    });

    function sendMessage() {
    const message = messageInput.value.trim();
    console.log("dddddddddddddddddddddddddd", {{request.user.id}});
    if (message) {
        chatSocket.send(JSON.stringify({
            'message': message,
            'sender_id': {{ request.user.id }},
            'receiver_id': parseInt(receiver_id),
        }));
        form.reset();
    }
    }

    // receive

    chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    console.log("00000000000000000000000000000", data)
    console.log('Datap-p--------------:', data.type);

    if (data.type === 'chat') {
        console.log('messages=====================', messages)
        if (messages) {
    // Use insertAdjacentHTML to append the message
    const messageClass = data.sender_id === {{ request.user.id }} ? 'sender' : 'receiver';
    const sender = data.sender_id === {{ request.user.id }} ? '{{request.user.first_name}}' : '{{receiver.first_name}}';

    messages.insertAdjacentHTML('beforeend', `<div class="message ${messageClass}">
            <strong>${sender}</strong>
                                                        <p>${data.message}</p>
                                                    </div>`);

    console.log("successfulr======================")
    } else {
    console.error("Element 'messages' not found.");
    }
    }
    };
</script>
{% endblock %}


