{% extends "homework/base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="worker-image">
                    <img src="{{ MEDIA_URL }}{{ worker.profile_picture }}" alt="profile_picture" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="mb-4">Customer Details</h1>
                <div class="customer-details">
                    <h3>Name: {{ customer.first_name }} {{ customer.last_name }}</h3>
                    <p>Email: {{ customer.email }}</p>
                    <p>Working Days: {{ customer.working_days }}</p>
                    <p>Description: {{ worker.description }}</p>
                </div>
                <div class="chat-button">
                    <a href="{% url 'chat' customer.id %}" class="btn btn-primary">Chat</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}