{% extends 'homework/base.html' %}
{% load static %}
{% block content %}
<style>
    /* Add styling for the modal */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}

</style>
<!-- Include the modal HTML structure in your template -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h1>Update Personal Details</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="info-container">
                <div style="display:flex; mt-4">
                    <div class="col-md-4"><strong>First Name</strong></div>
                    <input type="text" name="first_name" value="{{user.first_name}}">
                </div>
                <div style="display:flex; height:70px; overflow: hidden;" class="mt-4">
                    <div class="col-md-4"><strong>Personal note</strong></div>
                    <input type="text" name="description" value="{{user.description}}">
                </div>
            </div>
            <button type="submit" class="mt-4">Update Personal Info</button>
        </form>
    </div>
</div>


<script>
    // JavaScript functions to show and hide the modal
function openModal() {
  document.getElementById('myModal').style.display = 'block';
}

function closeModal() {
  document.getElementById('myModal').style.display = 'none';
}

    function deleteUser() {
        // Make an AJAX request to delete the user
        fetch('{% url "delete-user" user.id %}', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',  // Include the CSRF token if required
            },
        })
        .then(response => {
            if (response.ok) {
                // Redirect to the success URL
                window.location.href = '{% url "home" %}';
            } else {
                // Handle error if needed
                console.error('Failed to delete user');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

</script>
{% endblock %}
